.footer {
  
   background-color: #f5f5f5; /* Make sure background extends */
  padding: 20px 0; /* Ensure enough space */
  width: 100%;
  text-align: center;
  position: relative;
  font-family: "Playfair Display", serif;

}

.footer-logo {
  height: 2.5in; /* Footer logo size */
  max-width: 100%;
  cursor: pointer;
}

.disclaimer-text {
  font-size: 1.0rem;
  color: #000;
  margin-top: 10px;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.photography-text {
    font-size: 1.1rem;
    color: #000;
    margin-top: 10px;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
