.footer {
  padding: 20px 0; /* Ensure enough space */
  width: 100%;
  max-width: 100vw;
  text-align: center;
  position: relative;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

.footer-logo {
  height: 2.5in; /* Footer logo size */
  max-width: 100%;
  cursor: pointer;
}



.photography-text {
    font-size: 1.1rem;
    color: #000;
    margin-top: 10px;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
