/* Set the height of the navbar */
.navbar {
   background-color: #f5f5f5; 
  font-family: "Playfair Display", serif;
  height: 2in; /* Set the overall height of the navbar */
  display: flex;
  align-items: center; /* Vertically center content */
}

/* Style the logo */
.logo {
  height: 2in; /* Set logo height to 1.5 inches */
  max-width: auto; /* Maintain aspect ratio */
}


.login-btn {
  height: 1.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1;
  border-radius: 4px;
  background: linear-gradient(to right, #a55728, #bf6e40); /* Elegant bronze gradient */
  color: #fff;
  border: none;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.login-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
  background: linear-gradient(to right, #bf6e40, #a55728); /* subtle shift on hover */
}

.login-btn:active {
  transform: scale(0.98);
}

/* Center the navigation links */
.nav-link {
  font-size: 1.25rem; /* Adjust font size */
  color: #000; /* Black color for links */
  padding: 0 20px; /* Add spacing between links */
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #007bff; /* Change link color on hover */
}

/* Style the shopping cart icon */
.bi-cart {
  color: #000; /* Default color for the icon */
  transition: color 0.3s;
}

.bi-cart:hover {
  color: #007bff; /* Change color on hover */
}

/* Style the buttons */
.btn {
  font-size: 1rem; /* Adjust button font size */
  padding: 0.5rem 1rem; /* Add spacing inside buttons */
}
/* Custom Logo Styling */
.navbar-logo {
  height: 1.5in; /* Navbar logo size */
  max-width: 100%;
}

/* .navbar {
    border-bottom: 1px solid #34383c;  
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} */
