.contact-container {
  margin-top: 50px;
}

.contact-info {
  color: rgb(31, 128, 119);
}

.contact-info h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 20px;
  line-height: 1.8;
    color: #333;

}

.contact-info a {
  color: #333;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 20px;

  color: rgb(31, 128, 119);
}

.required {
  font-size: 15px;
  color: rgb(31, 128, 119);
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-glow {
    box-shadow: 0 0 px rgba(255, 182, 193, 0.6); 
    border: 1px solid#A0AEC0;
    border-radius: 5px;
}

.custom-btn {
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to right, #a55728, #bf6e40);
 color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
.custom-btn:hover {
  background: linear-gradient(to right, #a55728, #8d512f);
  transform: translateY(-2px);
   background: linear-gradient(to right, #bf6e40, #a55728);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}