<!-- <br><br>
<div class="about-wrapper">
     <div class="about-section">
          <div class="about-image">
               <img src="assets/placeholder-profile.png" alt="Profile Picture" />
          </div>
          <div class="about-content">
               <h1>About Me</h1>
               <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in
                    velit sed urna sollicitudin luctus. Nulla facilisi. Phasellus nec lorem
                    arcu. Donec eu turpis vehicula, laoreet purus ut, facilisis tortor. Nam
                    feugiat, felis a euismod volutpat, arcu massa facilisis nulla, vel
                    lobortis leo erat id odio.
               </p>
               <p>
                    Mauris fermentum, urna at finibus vulputate, libero purus volutpat
                    magna, sed cursus libero sapien a est. Nullam at sem non mi vehicula
                    euismod nec nec eros. Cras ut nibh at turpis rhoncus rhoncus.
               </p>
               <p>
                    Aenean eu pulvinar erat. Proin rhoncus est quis lorem fermentum
                    tristique. Suspendisse laoreet augue nec justo suscipit, ac pulvinar
                    turpis gravida. Pellentesque blandit eros non arcu elementum malesuada.
                    Donec blandit vulputate tellus, et cursus sem tincidunt ut.
               </p>
               <p>
                    Integer non erat sit amet lacus elementum placerat. Proin congue, est
                    nec lobortis dictum, nulla lorem viverra purus, ut ullamcorper odio ex
                    sit amet nulla. Duis id felis vel elit fermentum egestas. Sed ac
                    faucibus lacus.
               </p>
          </div>
     </div>
</div> -->
