<div class="content">
     <div class="text-center">
          <br><br>
          <h1 class="green-title">JEWELRY AND ACCESSORIES</h1>
          <h1 class="green-title">FOR YOUR STORE!</h1>

          <hr style="margin: 2rem 0; border: none; border-top: 2px solid #ccc;"><br>
          <div class="wholesale-colored-div">
               <div class="container d-flex justify-content-center align-items-center">
                    <div class="position-relative">
                         <img src="assets/girlImage1.png" class="img-fluid custom-image" alt="Girl Image">

                    </div>
               </div>
          </div>
          <br>
          <div class="showroom-section">
               <div class="showroom-title green-title" animateOnScroll>Is it Western Jewelry you're after?</div>

               <div class="showroom-text">
                    There’s nothing quite like a beautiful piece of jewelry to add a little glitz to your
                    store. Add a small splash of
                    turquoise and your shelves will be looking fabulous!
               </div><br>
               <a href="#" class="btn btn-primary custom-btn" routerLink="/registration">Register
                    Now</a>
          </div>
          <br>




          <h1 class="green-title"  animateOnScroll>Make Your Store Stand Out!</h1>
          <br>
          <div class="responsive-text">
               <p>P Diamond Designs will be the perfect addition to your store.
                    We are excited to bring you wonderful pieces made by
                    hardworking artisans.
                    Whether it’s a bracelet, pair of earrings,
                    or belt, there is a piece for everyone.

                    All you have to do is register for a wholesale account,
                    and then let the shopping commence!</p>
          </div>

          <br>
          <button class="btn btn-primary custom-btn" routerLink="/registration">Learn More</button>
          <br>
          <br>
          <br>
          <br>

          <div class="image-container">
               <div class="image-box studded-hoops">
                    <img src="assets/jewelry1.jpg" class="clickable-img" alt="Double Hoop Earrings"
                         routerLink="/wholesale">
               </div>
               <div class="image-box studded-hoops">
                    <img src="assets/jewelry2.jpg" class="clickable-img" alt="Studded Hoop Earrings"
                         routerLink="/wholesale">
               </div>
          </div>
          <br>
          <br>
          <h1 class="green-title">All The Jewelry You Could Want!</h1>
          <br>
          <div class="wholesale-colored-div">
               <div class="container d-flex justify-content-center align-items-center">
                    <div class="position-relative">
                         <img src="assets/girlImage3.png" class="custom-image" alt="Girl Image">

                    </div>
               </div>
          </div>
          <br>
          <div class="showroom-section">
               <div class="showroom-title green-title">Wholesale Info</div>

               <div class="showroom-text">
                    It is very easy to register for a wholesale account with P Diamond Designs!
                    Please go to our Registration Page and enter the required information in the form.
               </div><br>
               <a href="#" class="btn btn-primary custom-btn">Registration</a>
          </div>
          <br>
          <h1 class="green-title">Searching For Buckles?</h1>
          <br>
          <div class="responsive-text">
               <p>Now, don’t forget to pair all of the jewels with the perfect buckle.</p>
               <p> A turquoise
                    buckle is
                    the perfect way to compliment
                    any outfit!</p>
          </div>
          <br>



          <div class="wholesale-colored-div">
               <div class="container d-flex justify-content-center align-items-center">
                    <div>
                         <img src="assets/girlImage2.jpeg" alt="Banner Image" class="girl-Image-3 custom-image">
                    </div>
               </div>
          </div>
          <br>
          <!-- <div class="colored-div">
               <br>
               <br>
               <br>
               <h1 class="white-text">SHOWROOM INFO</h1>
               <br>
               <a href="https://www.dallasmarketcenter.com" target="_blank">
                    <img src="assets/dallasMarketCenter.png" alt="Dallas Market Center" />
               </a>
               <br>

               <br>
               <h2 class="white-text">P Diamond Designs can be found at the Dallas Market Center at the following
                    location:</h2>
               <br>
               <h2 class="white-text">Tasha Polizzi | 14th floor | #14387</h2>
          </div> -->
          <div class="showroom-section">
               <div class="showroom-title">Showroom Info</div>
               <img src="assets/dallasMarketCenter.png" alt="Dallas Market Center" class="showroom-logo" />
               <div class="showroom-text">
                    P Diamond Designs can be found at the Dallas Market Center at the following location:<br><br>
                    <strong>Tasha Polizzi</strong> | 14th floor | #14387
               </div>
          </div>
     </div>
</div>