<div class="content">
     <div class="text-center">
          <br><br>
          <h1 class="brand-title">
               <span class="main">P DIAMOND DESIGNS</span><br />
               <span class="sub">JEWELRY & ACCESSORIES</span>
          </h1>

          <a href="#" class="btn btn-primary custom-btn" routerLink="/registration">Register Now</a>

          <hr style="margin: 2rem 0; border: none; border-top: 2px solid #ccc;"><br>

          <div class="wholesale-colored-div">
               <div class="container d-flex justify-content-center align-items-center">
                    <div class="position-relative">
                         <img src="assets/girlImage1.png" class="img-fluid custom-image" alt="Girl Image">
                    </div>
               </div>
          </div>
          <br>

          <h1 class="green-title" animateOnScroll>Elevate Your Store</h1>
          <br>

          <div class="responsive-text">
               <p>P Diamond Designs will be the perfect addition to your store.
                    We are excited to bring you wonderful pieces made by
                    hardworking artisans.
                    Whether it’s a bracelet, pair of earrings,
                    or belt, there is a piece for everyone.

                    All you have to do is register for a wholesale account, wait to be approved,
                    and then let the shopping commence!
               </p>
          </div>

          <br>
          <button class="btn btn-primary custom-btn" routerLink="/registration">Learn More</button>
          <br><br><br><br>

          <div class="image-container">
               <div class="image-box studded-hoops">
                    <img src="assets/jewelry1.jpg" class="clickable-img" alt="Double Hoop Earrings"
                         routerLink="/wholesale">
               </div>
               <div class="image-box studded-hoops">
                    <img src="assets/jewelry2.jpg" class="clickable-img" alt="Studded Hoop Earrings"
                         routerLink="/wholesale">
               </div>
          </div>
          <br><br><br><br>

          <div class="wholesale-colored-div">
               <div class="container d-flex justify-content-center align-items-center">
                    <div class="position-relative">
                         <img src="assets/girlImage3.png" class="custom-image" alt="Girl Image">
                    </div>
               </div>
          </div>
          <br>

          <h1 class="green-title">Wholesale Info</h1>
          <div class="responsive-text">
               It is very easy to register for a wholesale account with P Diamond Designs!
               Please go to our Registration Page and enter the required information in the form.
          </div><br>
          <a routerLink="/registration" class="btn btn-primary custom-btn">Registration</a>
          <br><br>

          <div class="showroom-section">
               <div class="showroom-title">Showroom Info</div>
               <a href="https://www.dallasmarketcenter.com" target="_blank" rel="noopener noreferrer">
                    <img src="assets/dallasMarketCenter.png" alt="Dallas Market Center" class="showroom-logo" />              </a>
               <div class="showroom-text">
                    P Diamond Designs can be found at the Dallas Market Center at the following location:<br><br>
                    <strong>Tasha Polizzi</strong> | 14th floor | #14387
               </div>
          </div>
     </div>
     </div>