<div class="content py-5">
     <div class="container text-center">
          <h1 class="green-title">WHOLESALE REGISTRATION</h1>
          <BR>

          <div class="wholesale-colored-div">
               <div class="container d-flex justify-content-center align-items-center">
                    <div class="position-relative">
                         <img src="assets/girlImage4.png" alt="Banner Image" class="girl-Image-3 custom-image">




                    </div>
               </div>
               <div class="container register-container wholesale-colored-div">
                    <!-- Registration Section -->
                    <div class="registration-form">
                         <h2 class="text-center">Register</h2>
                         <p class="text-center">
                              Please fill out the required information below and I will review your information. Once
                              you have been approved, I will
                              send you the login credentials. I am so excited to create a mutually beneficial
                              relationship with you!
                         </p>

                         <form>

                              <div class="row">
                                   <div class="col-md-5">
                                        <label for="firstName" class="text-start d-block">First Name</label>
                                        <input type="text" id="firstName" class="form-control" placeholder="First Name"
                                             required>
                                   </div>
                                   <div class="col-md-7">
                                        <label for="lastName" class="text-start d-block">Last Name</label>
                                        <input type="text" id="lastName" class="form-control" placeholder="Last Name">
                                   </div>

                              </div>

                              <div class="form-group">
                                   <label for="email" class="text-start d-block">Email</label>
                                   <input type="email" id="email" class="form-control" placeholder="Enter your email"
                                        required>
                              </div>

                              <div class="form-group">
                                   <label for="password" class="text-start d-block">Password</label>
                                   <input type="password" id="password" class="form-control"
                                        placeholder="Enter password" required>
                              </div>

                              <div class="form-group">
                                   <label for="password" class="text-start d-block">Phone</label>
                                   <input type="password" id="phone" class="form-control" placeholder="Enter password"
                                        required>
                              </div>

                              <div class="form-group">
                                   <label for="storeName" class="text-start d-block">Store Name</label>
                                   <input type="text" id="storeName" class="form-control" placeholder="Your Store Name"
                                        required>
                              </div>

                              <div class="form-group">
                                   <label for="address" class="text-start d-block">Store Address</label>

                              </div>

                              <div class="form-group">
                                   <label for="country" class="text-start d-block">Select Country (required)</label>
                                   <select id="country" class="form-control">
                                        <option value="">Select a country</option>
                                        <option value="US">United States</option>
                                        <option value="CA">Canada</option>
                                        <option value="MX">Mexico</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="FR">France</option>
                                        <option value="DE">Germany</option>
                                        <option value="IN">India</option>
                                        <option value="CN">China</option>
                                        <option value="JP">Japan</option>
                                        <option value="AU">Australia</option>
                                        <option value="BR">Brazil</option>
                                        <option value="ZA">South Africa</option>
                                   </select>
                              </div>

                              <div class="form-group">
                                   <label for="storeName" class="text-start d-block">Address Line 1</label>
                                   <input type="text" id="storeName" class="form-control" placeholder="Address Line 1"
                                        required>
                              </div>

                              <div class="form-group">
                                   <label for="storeName" class="text-start d-block">Address Line 2</label>
                                   <input type="text" id="storeName" class="form-control" placeholder="Address Line 2"
                                        required>
                              </div>
                              <div class="row">
                                   <div class="col-md-4">
                                        <label for="storeName" class="text-start d-block">City</label>
                                        <input type="text" id="storeName" class="form-control" placeholder="City"
                                             required>
                                   </div>

                                   <div class="col-md-4">
                                        <label for="storeName" class="text-start d-block">State</label>
                                        <input type="text" id="storeName" class="form-control" placeholder="State"
                                             required>
                                   </div>
                                   <div class="col-md-4">
                                        <label for="storeName" class="text-start d-block">Zip Code</label>
                                        <input type="text" id="storeName" class="form-control" placeholder="Zip Code"
                                             required>
                                   </div>
                              </div>
                              <br>

                              <div class="form-group">
                                   <label for="instagram" class="text-start d-block">Store Website</label>
                                   <input type="text" id="instagram" class="form-control" placeholder="http://">
                              </div>

                              <div class="form-group">
                                   <label for="instagram" class="text-start d-block">Sales Tax ID or Resesller Number</label>
                                   <label>Additionally, please email us your State Sales Tax Certificate. Applications without a valid Sales Tax or Reseller Certificate Will not be considered.</label>
                                   <input type="text" id="instagram" class="form-control" placeholder="http://">
                              </div>

                              <div class="form-group">
                                   <label for="instagram" class="text-start d-block">Store Facebook Account</label>
                                   <input type="text" id="instagram" class="form-control"
                                        placeholder="http://">
                              </div>

                              <div class="form-group">
                                   <label for="instagram" class="text-start d-block">Store Instagram Account</label>
                                   <label for="instagram" class="text-start d-block">Please add Instagram Account if you do not have a Facebook Page for your store, thank you</label>
                                   <input type="text" id="instagram" class="form-control"
                                        placeholder="http://">
                              </div>

                              <div class="form-group">
                                   <label for="heardAboutUs" class="text-start d-block">How did you hear about us?
                                        (required)</label>
                                   <select id="heardAboutUs" class="form-control">
                                        <option value="">Select an option</option>
                                        <option value="facebook">Facebook</option>
                                        <option value="instagram">Instagram</option>
                                        <option value="twitter">Twitter</option>
                                        <option value="web-search">Web Search</option>
                                        <option value="friend">Friend</option>
                                        <option value="other">Other</option>
                                   </select>
                              </div>

                              <button type="submit" class="btn register-btn">Submit</button>
                         </form>
                    </div>

                    <!-- Return Policy Section -->
                    <div class="return-policy-container">
                         <p class="header-text">
                              Your satisfaction is important to us. We want you to be pleased with your items, and we
                              stand behind our
                              products and quality.
                         </p>

                         <p>
                              Please check your order upon receipt to ensure that it is complete and correct. If there
                              is a discrepancy,
                              please follow our policy for proper return or credit.
                         </p>

                         <ul class="policy-list">
                              <li>Authorization for all returns must be obtained by contacting us at
                                   <a href="tel:8175271313">(817) 527-1313</a> or
                                   <a href="mailto:kerry&#64;pdiamonddesigns.com">kerry&#64;pdiamonddesigns.com</a>.
                              </li>
                              <li>Claims for damages or shortages must be made within 7 days of receipt of your order.
                                   We will gladly repair
                                   or exchange the identical item within 7 days of receiving your order.</li>
                              <li>Claims must include the following:
                                   <ul>
                                        <li>Item Number</li>
                                        <li>Description of damage</li>
                                        <li>Invoice number and date</li>
                                   </ul>
                              </li>
                              <li>Return authorization number will be issued. Replacement merchandise or account credit
                                   will be issued for
                                   defective merchandise.</li>
                              <li>Returns will not be processed without a return authorization number.</li>
                              <li>P Diamond Designs is not responsible for the cost of shipping a returned item.</li>
                              <li>P Diamond Designs is not responsible for lost packages.</li>
                              <li>Please label packages with RA# provided to you by customer service.</li>
                         </ul>

                         <p><strong>Please ship package to the following return address:</strong></p>

                         <div class="return-address">
                              <p>Just Fabulous LLC</p>
                              <p>P.O. Box 210894</p>
                              <p>Bedford, TX 76095</p>
                         </div>

                         <p class="final-policy">
                              All sales are final after 30 days from receiving the product. No Exchanges, returns,
                              repairs, or refunds will
                              be issued.
                         </p>

                         <p>Credit will be issued to your account unless a replacement is requested.</p>
                    </div>


               </div>

          </div>
          <br>
          <br>


          <div class="wholesale-colored-div-2">
               <div class="container d-flex justify-content-center align-items-center">
                    <div class="position-relative">
                         <img src="assets/girlImage5.png" alt="Banner Image" class="girl-Image-3 custom-image">




                    </div>
               </div>
          </div>
     </div>